.centered-list {
  display: flex;
  justify-content: center;
}

.two-column-list {
  column-count: 1; /* Change column count to 1 */
  border: 1px solid #000;
  padding: 50px;
  margin-bottom: 10px; /* Add margin-bottom for spacing between content and description */
}

.two-column-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; /* Add margin-bottom for spacing between lines */
}

.two-column-list li:before {
  content: "✔️";
  margin-right: 2em;
}

.course-requirements {
  margin-top: 10px;
}

.course-requirements h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-image {
  padding-bottom: 20px; /* Add additional padding below the image */
}

body {
  margin: 5%;
}
/* Sidebar container */
.buy-course--sidebar {
   width: 300px; /* Adjust the width as needed */
   background-color: #fff;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Course image */
/* Preview course text */
.preview-text {
   position: absolute;
   bottom: 10px;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.5);
   color: #fff;
   font-weight: bold;
   border: 1px solid #000;
}

/* Buttons row */
.buttons-row {
   display: flex;
   justify-content: space-between;
   width: 100%;
   margin-top: 20px;
}

/* Button style */
.button {
   padding: 10px 20px;
   background-color: #f5f5f5;
   color: #000;
   border: none;
   cursor: pointer;
   border-radius: 15px;
}

/* Spacing between buttons */
.button + .button {
   margin-left: 10px;
}

.course-image {
  width: 400px;
  max-height: 400px;
  object-fit: cover;
}

.button-effect:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
