.button-28 {
  appearance: none;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-width: 0;
  outline: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100px;
  will-change: transform;
  margin-right: 20px; /* Modified from "10px" */
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.header-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  background-color: white;
  border: 1px solid black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 9999;
}

.header-title {
  font-size: 28px;
  text-align: center;
  margin-top: 0.8em;
  cursor: pointer;
  &:hover {
    color: red;
  }
}

.container {
  top: -10%;
}

.button-active {
  background-color: black;
  color: white;
}

.header-buttons {
  display: flex;
  justify-content: flex-end; /* Modified from "end" */
  margin-right: 1em;
  margin-top: 1em;
  gap: 10px;
  overflow: visible;
}

.avatar-container {
  position: relative;
  margin-right: 2em;
}

.avatar-container::before {
  content: "";
  position: absolute;
  top: -50px; /* Adjust the top value to increase the hover area */
  right: -50px; /* Adjust the right value to increase the hover area */
  bottom: -50px; /* Adjust the bottom value to increase the hover area */
  left: -50px; /* Adjust the left value to increase the hover area */
  border-radius: 50%; /* Maintain a circular shape */
}

.avatar-container:hover .user-menu {
  display: block;
}

.user-menu {
  display: none;
  text-align: left;
  white-space: nowrap;
  position: absolute;
  background-color: white;
  color: black;
  right: 0;
  top: 120%; /* Adjust the top value to position the menu below the header */
  margin-right: -30px; /* Add margin on the right */
  margin-bottom: 10px; /* Add margin on the bottom */
  padding: 10% 50% 20% 10%;
  align-items: flex-start;
  border: 2px solid #ccc;
  line-height: 2;
}
