.main-content {
  margin: 80px 50px;
}

.main-content p {
  margin-bottom: 1.5em;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-bottom: 1em;
}
