.main-content {
  margin: 80px 50px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr auto;
}

.main-content p {
  margin-bottom: 1.5em;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  margin-bottom: 1em;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
}
