.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f8f8f8;
  padding: 0 20px;
  margin: 100;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.sub-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.menu-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  list-style: none;
}

.menu-item.active {
  font-weight: bold;
}

.sub-menu li {
  padding: 10px;
  cursor: pointer;
}

.sub-menu li:hover:not(.active) {
  font-weight: bold;
}

.sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 10px 20px;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.menu-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
  list-style: none;
}

.menu-item.active {
  font-weight: bold;
}

.sub-menu li {
  padding: 10px;
  cursor: pointer;
}

.sub-menu li:hover:not(.active) {
  font-weight: bold;
}

.menu-item:hover .sub-menu {
  display: flex;
}
.sub-menu li {
  padding: 10px;
  cursor: pointer;
  font-weight: normal; /* Add this line to set the initial font weight to normal */
  min-width: 250px;
}

.sub-menu li:hover:not(.active) {
  font-weight: bold;
}
