.menu-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.menu-item.active {
  font-weight: bold;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  list-style: none;
}

.sub-menu li {
  padding: 10px;
  cursor: pointer;
}
