.rating-author {
  color: lightgrey;
  font-size: 12px;
  font-style: italic;
}

h3 {
  font-weight: bold;
}
li {
  list-style-type: none;
}
.review-header {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.review-title {
  margin-right: 8px;
}
